@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
        font-family: "Roboto", sans-serif;
}
body{
    /* font-family: "Roboto", sans-serif; */
    background-color: #0A0A0A;
}
/* ----navbar---- */
/* .navContainer{
    width: 100%;
    display: flex;
    background-color: black;
    padding: 0 0;
    z-index: 100;
}
.navContainer .logo{
    width: 220px;
    cursor: pointer;
    display: flex;
    padding: 0 20px;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    padding: 20px 20px;
}
nav ul.active{
   
        flex-direction: column;
        background-color: #151618;
        position: fixed;
        top: 60px;
        right: 1px;
        width: 100%;
        height: calc(100% - 60px);
        transition: 0.3s;
        padding: 20px;
        gap: 15px;
     z-index: 1000;
}
nav li a{
    text-decoration: none;
    color: white;
    font-weight: 800;
    
}
nav li a:hover{
    color: #0077ff;
    transition: 0.1s;
}
nav li a.active{
    color: #0077ff;
}
nav i{
    cursor: pointer;
}
.categoryBtn span
{
  cursor: pointer;
}
.categoryBtn span:hover
{
  color: #0077ff;
  transition: 0.1s;
}
.categoryList{
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #151618;
  right: 190px;
  z-index: 100;
  opacity: 90%; 
 } 
.categoryList.active{
  display: none;
  width: 180px;
  height: fit-content;
  flex-direction: column;
  position: absolute;
  background-color: #151618;
  right: 170px;
  top: 60px;
  z-index: 100;
  opacity: 90%;
}
.categoryList li {
  border-bottom:1px solid white ;
  padding: 10px 10px;
  font-size: 22px;
  text-align: center;
}
.categoryList li a:hover{
  color: #0077ff;
  transition: 0.1s;
}
.categoryList.active{
  display: flex;
}
/* serchBar */
/* .searchContiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchBarInput{
  width: 0px;
  height: 30px;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
}
.SearchBarInput.active{
    width: 560px;
    transition: 0.6s;
    height: 42px;
    font-size: 17px;
     border-radius: 5px;
}
.btnSearch {
    position: absolute;
    top: 11px;
    color: var(--swal2-color);
    font-size: 20px;
    background-color: var(--swal2-background);
    padding: 20px;
    border-radius: 30px;
}
.searchIcon {
    position: absolute;
    top: 10px;
    left: 6px;
    color: #111;
    font-size: 20px;
  
}
.searchIcon.black{
  color: black;
}
.ProudctList{
  height: 50%;
  width: 100%;
  display:none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 65px;
  z-index: 100;
  background-color: rgb(19, 18, 18);
  overflow-y: scroll;
  opacity: 98%;
}
.ProudctList.active{
  display: flex;
}
.ProudctList::-webkit-scrollbar{
  display: none;
}
.Proudct{
  display: flex;
  gap: 100px;
  align-items: center;
}
.ProudctImg{
  display: flex;
  justify-content: start;
  align-items: center;
}
.ProudctImg img{
  width: 180px;
  padding: 10px 20px;
}
.info{
  display: flex;
  justify-content: center;
  width: 240px;
  gap: 30px;
}
.linkSearch{
  width: 220px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 0 30px;  
  font-size: inherit;
} */
/* searchEnd */

/* menuBar */
/* .menuBar
{
  display: none;
  align-items: center;
}
.fa-bars {
  display: inline;
  position: absolute;
  right: 0;
  font-size: xx-large;
}

.fa-bars.active {
  display: none;
}

.fa-xmark {
  display: none !important;
  position: absolute;
  right: 0;
  font-size: xx-large;
}

.fa-xmark.active {
  display: inline !important;
} */
/* menuBarEnd */

/* Cart */
/* .cart {
    width: 400px;
    height: 100vh;
    background-color: #0e0d0d;
    position: fixed;
    top: 0px;
    right: -400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2000;
    text-align: center;
    overflow: scroll;
    transition: 0.5s;
    color: white;
}
.cart::-webkit-scrollbar
{
  display: none;
}
.cart.active{
  right: 0;
  overflow-x: hidden ;
}
.text-cartDiv{
  padding: 15px 0;
  width: 100%;
  border: #00bfff;
}
.cartItemDiv{
  height: auto;
}
.cartItem{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.cartIcons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  min-width:200px;
}
.closeCartbtn{
 cursor: pointer;
 font-size: 1.6rem;
 padding: 10px 0;
}
.closeCartbtn:hover{
 color: red;
}
.cartRow{
      display: flex;
    justify-content: center;
    gap: 30px
}
.ImgCart{
  width: 120px;
}
.totalPriceDiv{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: end;
}
.totalPrice
{
  display: flex;
  align-items: end;
  height: 100%;
}
.minus,.plus,.deleteItem
{
  cursor: pointer;
  font-size: 10px;
}
.checkoutDiv{
  display: flex;
  justify-content: end;
  align-items: end;
   position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #0A0A0A;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  z-index: 500;
}
.checkout{
  display: flex;
  background-color: #0A0A0A;
  align-items: center;
  color: azure;
  bottom: 0px;
  right: 0;
  padding: 10px 135px;
  font-size: 1rem;
  
  

  
} */ 
/* cartEnd */


/* --------navBarEnd */
 .slider_proudct
{
    padding-bottom:100px ;   
} 
.category_pod{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.category_pod .p_category{
 width: 30%;
background-color: rgba(0, 255, 255, 0.226);
color: white;  
padding: 19px ;
text-align: center;
}
.seeMore-btn {
    width: 100px;
    padding: 25px 10px;
    color: white;
    background-color: black;
    text-decoration: none;
}
.seeMore-btn:active{
    transform: scale(1.1);
}
.seeMore-btn:active:hover{
    background-color: rgba(0, 255, 255, 0.466);
}

/* slider */
.swiper {
      width: 80%;
      height: 100%;
      
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
      padding:20px ;
    }

    .swiper-slide img {
      width: 240px;
      max-height:238px ;
      object-fit: cover;
      
    }
    .swiper-slide a{
        text-decoration: none;
        color:  rgb(4, 255, 255);
        
    }
     .proudct_name,.price{
      display: -webkit-box;
  -webkit-line-clamp: 1;   
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0 0 0;
  color: rgb(4, 255, 255);
    }
    .brandLink
    {
      color:rgb(4, 255, 255);
    }
   .swiper-slide .buy_btn{
    /* padding: 10px 10px;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px 0; */
            padding: 10px 24px;
        background-color: rgba(66, 154, 212, 0.87) !important;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        width: 100%;
        margin: 10px 0;
   }
   .swiper-slide .buy_btn:hover{
     background-color: aqua;
    color: black;
    transition: 0.5s;
   }
   .swiper-slide .buy_btn:active{
transform: scale(1.1);
   }
   .card_slide{
     width: 240px;
    height: 450px;
    background-color: rgba(57, 67, 87, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: inset 0px 2px 2px 2px rgba(0, 0, 255, 0.13)  ;
   }
   .card_slide 
   {
    color: rgb(4, 255, 255);
   }
   
   
/* sliderEnd */

/* miniDeviceControl */
.mini_dev_conteiner
{
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: -1px;
  background-color: black;
  gap: 200px;
  padding: 40px 0px;
  z-index: 200;
}
.div_search_btn
{
  
}
.colse-mark.active
{
display:none;
align-items: center;
 font-size: 2rem;
 color: white;
 position: absolute;
 left: calc(49% - 16px);
 top:25px;
 cursor: pointer;
}

.seacrch_iconBtn
{
 font-size: 2rem;
 color: white;
 cursor: pointer;
}
.store_icon
{
   font-size: 2rem;
 color: white;
}
.home_icon
{
   font-size: 2rem;
 color: white;
}

/* miniDeviceControlEnd */

/* topBtn */

.topBtn{
  position: fixed;
  right: 10px;
  bottom: 130px;
  padding: 12px;
  display: none;
  background-color: #778;
  cursor: pointer;

}
.topBtn:hover{
  background-color: #ffffffd0;
  transition: 0.3s;
  box-shadow: inset 1px 1px 1px 1px black;
}
.topBtn i{
  font-size: 20px;
}
/* topBtn End */

/* footer */

/* footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: fixed;   
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: 90%;     
}


footer .socialMadiaLinks ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 10px 0;
  margin: 0;
}

footer .socialMadiaLinks ul a {
  color: aliceblue;
  text-decoration: none;
  transition: color 0.2s ease;
}

footer .socialMadiaLinks ul a:hover {
  color: rgba(119, 119, 136, 0.705);
} */
/* footerEnd */

 @media (max-width: 1250px) {
 body , html {
    overflow-x: hidden;
  }
 
  .footer
  {
    width: 100%;
  }
nav ul
{
  display: none;
}
.navContainer
{
  width: 100%;
  height: 80px;
}
.navContainer .logo 
    {
      display: flex;
      justify-content: start;
      padding: 0 10px;
    }
    .logos
    {
      font-size: 1.8rem;
      padding: 0 0;
    }
  nav ul.active {
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2rem;
  }
.menuBar
{
  display: flex;
}
.continerOfSerch .searchIcon{
  display: none;
}
   .fa-bars{
    display: flex;
  }
  .fa-bars,.fa-xmark
  {
    position: absolute;
    right: 0px;
  }


  .searchContiner input {
    width: 400px;
    height: 28px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    display: none;
  }
  .searchContiner input.active {
           width: 100%;
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        display: flex;
        z-index: 1000;
        font-size: 1.6  rem;
        box-shadow: 0 0 0 1px black;
    }
 .proudct_name
{
  font-size: 1.5rem;
}  

  .mini_dev_conteiner
  {
    display: flex;
  }

  .searchContiner i{
    left: auto;
    right: 10px;
  }
  .seacrch_iconBtn.active
  {
    opacity: 0;
  }
  .ProudctList.active
  {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
  }
  .seacrch_iconBtn.toggle
{
  display: none;
}
.colse-mark.active
{
display:flex;
 
}
.searchIcon{
  display: none;
}
  .categoryList.active {
     width: 100%;
     height: 100%;
    
    flex-direction: column;
    position: absolute;
    background-color: #151618;
    right: 0px;
    top: 1px;
    z-index: 100;
    opacity: 100%;
}

.category_pod .p_category{
 width: 40%;
 font-size: 1rem;

}
 .swiper-slide img {
      width: 200px;
      max-height:200px ;
      object-fit: cover;
      
    }
     .card_slide{
    width: 200px;
    height: 400px;  
   }
   .slider_proudct {
    padding-bottom: 50px;
}
  
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;   
  bottom: auto;
  left: 0;
  z-index: 1000;
  opacity: 100%;     
}
 }
 @media (max-width: 1025px) {

  body , html {
    overflow-x: hidden;
  }
 
  .footer
  {
    width: 100%;
  }
nav ul
{
  display: none;
}
.navContainer
{
  width: 100%;
  height: 80px;
}
.navContainer .logo 
    {
      display: flex;
      justify-content: start;
      padding: 0 10px;
    }
    .logos
    {
      font-size: 1.8rem;
      padding: 0 0;
    }
  nav ul.active {
    width: 100%;
    right: 0;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 2rem;
  }
.menuBar
{
  display: flex;
}
   .fa-bars{
    display: flex;
  }
  .fa-bars,.fa-xmark
  {
    position: absolute;
    right: 0px;
  }


  .searchContiner input {
    width: 400px;
    height: 28px;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    display: none;
  }
  .searchContiner input.active {
           width: 100%;
        height: 60px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 5px;
        display: flex;
        z-index: 1000;
        font-size: 1.6  rem;
        box-shadow: 0 0 0 1px black;
    }
 .proudct_name
{
  font-size: 1.5rem;
}  

  .mini_dev_conteiner
  {
    display: flex;
  }

  .searchContiner i{
    left: auto;
    right: 10px;
  }
  .seacrch_iconBtn.active
  {
    opacity: 0;
  }
  .ProudctList.active
  {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
  }
  .seacrch_iconBtn.toggle
{
  display: none;
}
.colse-mark.active
{
display:flex;
 
}
  .categoryList.active {
     width: 100%;
     height: 100%;
    
    flex-direction: column;
    position: absolute;
    background-color: #151618;
    right: 0px;
    top: 1px;
    z-index: 100;
    opacity: 100%;
}

.category_pod .p_category{
 width: 40%;
 font-size: 1rem;

}
 .swiper-slide img {
      width: 200px;
      max-height:200px ;
      object-fit: cover;
      
    }
     .card_slide{
    width: 200px;
    height: 365px;
    font-size:0.9rem;
    
   }
   .slider_proudct {
    padding-bottom: 50px;
}
.proudct_name
{
  font-size: 1rem;
}
  
footer {
  width: 100%;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  position: absolute;   
  bottom: auto;
  left: 0;
  z-index: 1000;
  opacity: 100%;     
}
}

@media (max-width: 982px) {

  .swiper-slide img {
      width: 170px;
      max-height:170px ;
      object-fit: cover;
      
    }
     .card_slide{
    width: 170px;
    height: 331px;
    font-size: 0.9rem;
    
   }
   .slider_proudct {
    padding-bottom: 50px;
}
}
@media (max-width: 872px) {

  .swiper-slide img {
      width: 140px;
      max-height:140px ;
      object-fit: cover;
      
    }
     .card_slide{
    width: 140px;
    height: 275px;
    font-size: 0.7rem;
    
   }
   .slider_proudct {
    padding-bottom: 50px;
}
.swiper-slide .buy_btn
{
  padding: 5px 0;
  font-size: 0.7rem;
}
}
@media (max-width: 720px) {
.navContainer .logo 
    {
      display: flex;
      justify-content: start;
      padding: 0 10px;
    }
    .logos
    {
      font-size: 1.3rem;
      padding: 0 0;
    }

         .swiper-slide img {
        width: 132px;
        max-height: 109px;
        object-fit: cover;
    }

        .card_slide {
        width: 132px;
        height: 239px;
        
        font-size: 0.7rem;
    }
    .proudct_name
    {
      font-size: 0.8rem;
    }

   .slider_proudct {
    padding-bottom: 20px;
}
}



 @media (max-width: 698px) {
  
    .swiper-slide img {
        width: 150px;
        max-height: 137px;
        object-fit: cover;
    }

     .card_slide {
        width: 150px;
        height: 281px;
       
        font-size: 0.9rem;
    }
    .proudct_name
{
  font-size: 1rem;
}
  
} 
@media (max-width :600px)
{
 .swiper-slide img {
        width: 130px;
        max-height: 109px;
        object-fit: cover;
    }

     .card_slide {
        width: 130px;
        height: 239px;
        
        font-size: 0.7rem;
    }
   .slider_proudct {
    padding-bottom: 20px;
}
.proudct_name
{
  font-size: 1rem;
}
.mini_dev_conteiner
{
  gap: 100px;
}

.proudct_name
{
  font-size: 1rem;
}
}
@media (max-width: 540px) {
.proudct_name
{
  font-size: 1rem;
}
}

@media (max-width: 450px) {
 .category_pod .p_category {
        width: 48%;
        height: 55px;
    }
       .seeMore-btn {
        width: 100px;
        padding: 21px 10px;
        color: white;
        background-color: black;
        text-decoration: none;
        font-size: 0.8rem;
        text-align: center;
    }
      .swiper-slide img {
        width: 94px;
        max-height: 94px;
        object-fit: cover;
    }
        .card_slide {
        width: 94px;
        height: 241px;
        
        font-size: 0.5rem;
    }
   .slider_proudct {
    padding-bottom: 50px;
}
.Proudct {
  gap: 0px;
}
    .swiper-slide .buy_btn {
        font-size: 0.5rem;
        margin: 6px 0 5px 0;
    }
}
@media (max-width: 400px) {
   
    .navContainer .logo 
    {
      display: flex;
      justify-content: start;
      padding: 0 10px;
    }
    .logos
    {
      font-size: 1.5rem;
      padding: 0 0;
    }
}
@media (max-width: 360px) {

}


@media (max-width: 350px) {
     .swiper-slide img {
        width: 90px;
        max-height: 90px;
        object-fit: cover;
    }
      .card_slide {
        width: 90px;
        height: 213px;
        
        font-size: 0.6rem;
        text-align: center;
    }
       .category_pod .p_category {
        width: 48%;
        height: 55px;
        font-size: 0.8rem;
    }
   .proudct_name {
        font-size: 0.8rem;
        -webkit-line-clamp: 1;
    }
   
}
